replicaCount: 1

image:
  repository: my-nexus-repository-manager.nexus.svc.cluster.local:8082/repository/nexusimagerepository/cartservice-dev
  tag: managed-by-jenkins
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: nexus-regcred

nameOverride: "cartservice"
fullnameOverride: "cartservice"

serviceAccount:
  create: true
  annotations: {}
  name: "cartservice"

podAnnotations: {}

podSecurityContext: 
  fsGroup: 1000
  runAsGroup: 1000
  runAsNonRoot: true
  runAsUser: 1000

securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: false
  privileged: false
  capabilities:
    drop:
      - ALL


service:
  type: ClusterIP
  port: 7070
  targetPort: 7070
  livenessProbe:
    enabled: false
    path: "/"
    port: http
  readinessProbe:
    enabled: false
    path: "/"
    port: http


  # gRPC probe toggle
  grpcProbe:
    enabled: true
    port: 7070

    # LIVENESS
    initialDelaySeconds: 20
    periodSeconds: 15

    # READINESS 
    readinessInitialDelaySeconds: 20
    readinessPeriodSeconds: 15




ingress:
  enabled: false
  className: "nginx"
  annotations: {}
  hosts:
    - host: cartservice.hepapi.com
      paths:
        - path: /
          pathType: Prefix
  tls: []
  #  - secretName: cartservice-tls
  #    hosts:
  #      - spring.hepapi.com

resources:
  limits:
    cpu: 300m
    memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 256Mi

autoscaling:
  enabled: false
  minReplicas: 3
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

# nodeSelector:
#   project: petclinic

tolerations: []
affinity: {}


# extraConfigMap:
#   name: cartservice-extra-cm
#   data:
#     REDIS_ADDR: "redis-cart-master:6379"

env:
  - name: REDIS_ADDR
    value: "redis-cart:6379"
