replicaCount: 1

image:
  repository: my-nexus-repository-manager.nexus.svc.cluster.local:8082/repository/nexusimagerepository/checkoutservice-dev
  tag: managed-by-jenkins
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: nexus-regcred

nameOverride: "checkoutservice"
fullnameOverride: "checkoutservice"

serviceAccount:
  create: true
  annotations: {}
  name: "checkoutservice"

podAnnotations:
  instrumentation.opentelemetry.io/inject-go: "monitoring/go-instrumentation"
  instrumentation.opentelemetry.io/otel-go-auto-target-exe: "/src/checkoutservice"

podSecurityContext:
  fsGroup: 1000
  runAsGroup: 1000
  runAsUser: 0

securityContext:
  privileged: true
  runAsUser: 0


service:
  type: ClusterIP
  port: 5050
  targetPort: 5050
  livenessProbe:
    enabled: false   
  readinessProbe:
    enabled: false   

  # gRPC probe toggle
  grpcProbe:
    enabled: true
    port: 5050

    # LIVENESS
    initialDelaySeconds: 20
    periodSeconds: 15

    # READINESS 
    readinessInitialDelaySeconds: 20
    readinessPeriodSeconds: 15

ingress:
  enabled: false
  className: "nginx"
  annotations: {}
  hosts:
    - host: checkoutservice.hepapi.com
      paths:
        - path: /
          pathType: Prefix
  tls: []
  #  - secretName: checkoutservice-tls
  #    hosts:
  #      - checkoutservice.hepapi.com

resources:
  requests:
    cpu: 100m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 3
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

env:
  - name: PRODUCT_CATALOG_SERVICE_ADDR
    value: "productcatalogservice:3550"
  - name: SHIPPING_SERVICE_ADDR
    value: "shippingservice:50051"
  - name: PAYMENT_SERVICE_ADDR
    value: "paymentservice:50051"
  - name: EMAIL_SERVICE_ADDR
    value: "emailservice:5000"
  - name: CURRENCY_SERVICE_ADDR
    value: "currencyservice:7000"
  - name: CART_SERVICE_ADDR
    value: "cartservice:7070"
  - name: PORT
    value: "5050"



