replicaCount: 1

image:
  repository: my-nexus-repository-manager.nexus.svc.cluster.local:8082/repository/nexusimagerepository/emailservice-dev
  tag: managed-by-jenkins
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: nexus-regcred

nameOverride: "emailservice"
fullnameOverride: "emailservice"

serviceAccount:
  create: true
  annotations: {}
  name: "emailservice"

podAnnotations:
  instrumentation.opentelemetry.io/inject-python: dev/python-instrumentation

podSecurityContext:
  fsGroup: 1000
  runAsGroup: 1000
  runAsNonRoot: true
  runAsUser: 1000

securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  privileged: false
  capabilities:
    drop:
      - ALL

service:
  type: ClusterIP
  port: 7000
  targetPort: 8080
  portName: "grpc"
  livenessProbe:
    enabled: false
  readinessProbe: 
    enabled: false

  # gRPC probe toggle
  grpcProbe:
    enabled: true
    port: 8080

    # LIVENESS
    initialDelaySeconds: 20
    periodSeconds: 15

    # READINESS 
    readinessInitialDelaySeconds: 20
    readinessPeriodSeconds: 15






ingress:
  enabled: false

resources:
  requests:
    cpu: 100m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 3
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

tolerations: []
affinity: {}

# extraConfigMap:
#   name: emailservice-extra-cm
#   data:
#     PORT: "8080"
#     DISABLE_PROFILER: "1"

env:
  - name: PORT
    value: "8080"
  - name: DISABLE_PROFILER
    value: "1"
