replicaCount: 1

image:
  repository: my-nexus-repository-manager.nexus.svc.cluster.local:8082/repository/nexusimagerepository/hepsheetapi
  tag: managed-by-jenkins
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: nexus-regcred

nameOverride: "hepsheetapi"
fullnameOverride: "hepsheetapi"

serviceAccount:
  create: true
  annotations: {}
  name: "hepsheetapi"

podSecurityContext: 
  fsGroup: 1000
  runAsGroup: 1000
  runAsNonRoot: true
  runAsUser: 1000

securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: false
  privileged: false
  capabilities:
    drop:
      - ALL


service:
  type: ClusterIP
  port: 8080
  targetPort: 8080
  livenessProbe:
    enabled: false
    path: "/"
    port: http
  readinessProbe:
    enabled: false
    path: "/"
    port: http




ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
  ingressClassName: "nginx"
  pathType: Prefix
  activeService: true
  hosts:
    - host: hepsheetapi.hepapi.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: hepsheetapi-hepapi-tls
      hosts:
        - hepsheetapi.hepapi.com

resources:
  limits:
    cpu: 300m
    memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 256Mi

autoscaling:
  enabled: false
  minReplicas: 3
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80


tolerations: []
affinity: {}

extraConfigMap:
  name: hepsheetapi-extra-cm
  data:
    GOOGLE_CLIENT_ID: "1035129365942-p7o81tm5fb8q9j6493jceabddf848uje.apps.googleusercontent.com"
    GOOGLE_REDIRECT_URI: "https://hepsheet.hepapi.com/api/auth/callback/google"
    PRETTY: "1"
    LOG_LEVEL: "debug"
    DAILY_WORK_HOURS: "8"
    DEFAULT_PASSWORD: "hepapi1234"
    ADMIN_TITLE: "Administrator"
    ADMIN_EMAIL: "umit@hepapi.com"
    ADMIN_NAME: "Ümit Özdemir"
    DB_SCHEMA: "public"
    DB_NAME: "hepsheet"
    DB_PASSWORD: "hepsheet2024!"
    DB_USER: "hepsheet"
    DB_PORT: "5432"
    DB_HOST: "ulaq-test-db.cluster-cuxejpmehjle.eu-west-1.rds.amazonaws.com"
    GOOGLE_CLIENT_SECRET: "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"

