replicaCount: 1

image:
  repository: my-nexus-repository-manager.nexus.svc.cluster.local:8082/repository/nexusimagerepository/hepsheet
  tag: managed-by-jenkins
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: nexus-regcred

nameOverride: "hepsheet"
fullnameOverride: "hepsheet"

serviceAccount:
  create: true
  annotations: {}
  name: "hepsheet"

podSecurityContext: 
  fsGroup: 1000
  runAsGroup: 1000
  runAsNonRoot: true
  runAsUser: 1000

securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: false
  privileged: false
  capabilities:
    drop:
      - ALL


service:
  type: ClusterIP
  port: 3000
  targetPort: 3000
  livenessProbe:
    enabled: false
    path: "/"
    port: http
  readinessProbe:
    enabled: false
    path: "/"
    port: http




ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
  ingressClassName: "nginx"
  pathType: Prefix
  activeService: true
  hosts:
    - host: hepsheet.hepapi.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: hepsheet-hepapi-tls
      hosts:
        - hepsheet.hepapi.com

resources:
  limits:
    cpu: 300m
    memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 256Mi

autoscaling:
  enabled: false
  minReplicas: 3
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80


tolerations: []
affinity: {}

