replicaCount: 1

image:
  repository: my-nexus-repository-manager.nexus.svc.cluster.local:8082/repository/nexusimagerepository/recommendationservice-dev
  tag: managed-by-jenkins
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: nexus-regcred

nameOverride: "recommendationservice"
fullnameOverride: "recommendationservice"

serviceAccount:
  create: true
  annotations: {}
  name: "recommendationservice"

podAnnotations: 
  instrumentation.opentelemetry.io/inject-python: monitoring/python-instrumentation-2

podSecurityContext: 
  fsGroup: 1000
  runAsGroup: 1000
  runAsNonRoot: true
  runAsUser: 1000

securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  privileged: false
  capabilities:
    drop:
      - ALL


service:
  type: ClusterIP
  port: 8080
  targetPort: 8080
  livenessProbe:
    enabled: false
    path: "/"
    port: http
  readinessProbe:
    enabled: false
    path: "/"
    port: http

ingress:
  enabled: false
  className: "nginx"
  annotations: {}
  hosts:
    - host: recommendationservice.hepapi.com
      paths:
        - path: /
          pathType: Prefix
  tls: []
  #  - secretName: recommendationservice-tls
  #    hosts:
  #      - spring.hepapi.com

resources:
  limits:
    cpu: 200m
    memory: 450Mi
  # requests:
  #   cpu: 100m
  #   memory: 256Mi

autoscaling:
  enabled: false
  minReplicas: 3
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

# nodeSelector:
#   project: petclinic

tolerations: []
affinity: {}


extraConfigMap:
  name: recommendationservice-extra-cm
  data:
    PORT: "8080"
    DISABLE_PROFILER: "1"
    PRODUCT_CATALOG_SERVICE_ADDR: "productcatalogservice:3550"
