replicaCount: 1

image:
  repository: my-nexus-repository-manager.nexus.svc.cluster.local:8082/repository/nexusimagerepository/shippingservice-dev
  tag: managed-by-jenkins
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: nexus-regcred

nameOverride: "shippingservice"
fullnameOverride: "shippingservice"

serviceAccount:
  create: true
  annotations: {}
  name: "shippingservice"

podAnnotations: 
  instrumentation.opentelemetry.io/inject-go: "monitoring/go-instrumentation"
  instrumentation.opentelemetry.io/otel-go-auto-target-exe: "/src/shippingservice"

podSecurityContext: 
  fsGroup: 1000
  runAsGroup: 1000
  runAsUser: 0

securityContext:
  privileged: true
  allowPrivilegeEscalation: true



service:
  type: ClusterIP
  port: 50051
  targetPort: 50051
  livenessProbe:
    enabled: false
    path: "/"
    port: http
  readinessProbe:
    enabled: false
    path: "/"
    port: http

ingress:
  enabled: false
  className: "nginx"
  annotations: {}
  hosts:
    - host: shippingservice.hepapi.com
      paths:
        - path: /
          pathType: Prefix
  tls: []
  #  - secretName: shippingservice-tls
  #    hosts:
  #      - spring.hepapi.com

resources:
  limits:
    cpu: 200m
    memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 256Mi

autoscaling:
  enabled: false
  minReplicas: 3
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

# nodeSelector:
#   project: petclinic

tolerations: []
affinity: {}


extraConfigMap:
  name: shippingservice-extra-cm
  data:
    PORT: "50051"
    DISABLE_PROFILER: "1"
