replicaCount: 1

image:
  repository: managed-by-jenkins
  tag: managed-by-jenkins
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: nexus-regcred

nameOverride: "spring-petclinic"
fullnameOverride: "spring-petclinic"

serviceAccount:
  create: false
  annotations: {}
  name: ""

podAnnotations:
  instrumentation.opentelemetry.io/inject-java: monitoring/java-instrumentation

podSecurityContext: {}
securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 8080
  targetPort: 8080
  livenessProbe:
    enabled: false
    path: "/"
    port: http
  readinessProbe:
    enabled: false
    path: "/"
    port: http

ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
  ingressClassName: "nginx"
  pathType: Prefix
  activeService: true
  hosts:
    - host: spring.hepapi.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: spring-hepapi-tls
      hosts:
        - spring.hepapi.com

resources:
  limits:
    cpu: 500m
    memory: 2Gi
  requests:
    cpu: 100m
    memory: 256Mi

autoscaling:
  enabled: false
  minReplicas: 3
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

# nodeSelector:
#   project: petclinic

tolerations: []
affinity: {}

externalSecret:
  name: spring-petclinic-external-secret
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: spring-petclinic-external-secret
    creationPolicy: Owner
  data:
    - secretKey: SPRING_DATASOURCE_PASSWORD
      remoteRef:
        key: prod
        property: SPRING_DATASOURCE_PASSWORD
    - secretKey: SPRING_DATASOURCE_USERNAME
      remoteRef:
        key: prod
        property: SPRING_DATASOURCE_USERNAME

extraConfigMap:
  name: spring-petclinic-extra-cm
  data:
    SPRING_JPA_HIBERNATE_DDL_AUTO: "update"
    SPRING_DATASOURCE_URL: "jdbc:mysql://np-dev-mysql.database.svc.cluster.local:3306/petclinic"
    SPRING_PROFILES_ACTIVE: "sql"
